<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/app.css">
    <title>Encontra Carro</title>
</head>
<body>

    <div class="container" id="Buscar">
        <h1 class="busca_carro_titulo">Busca do carro:</h1>
        <form class="busca_carro_form" action="../busca.php" method="POST">
            <label>
                Digite a Placa do carro:
            <input class="form-control" type='text' name='placa'>
            </label>
            <br><br>

            <input class="btn btn-primary" type="submit" value="Buscar">
            <a class="btn btn-primary" href="../index.php">Voltar</a>
        </form>
        
        
        
    </div>

    
</body>
</html>