<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap.css">
  <link rel="stylesheet" href="../static/app.css">
  <title>Document</title>
</head>
  <body>  

    <h1 class='busca_carro_titulo'>Cadastrar novos Carros</h1>
    <div class='form_container'>
  
      <form action='../cadastro.php' method='post'>
  
        <label for="modelo">Modelo</label>
        <input type="text" id="nome" name="modelo" class="form-control">
  
        <label for="marca">Marca</label>
        <input type="text" id="categoria" name="marca" class="form-control">
  
        <label for="placa">Placa</label>
        <input type="text" name="placa" class="form-control">
  
        <label for="tipo">Tipo</label>
        <input type="text" name="tipo" class="form-control">
  
        <label for="cor">Cor</label>
        <input type="text" name="cor" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a class="btn btn-primary" href="../index.php">Voltar</a>
      </form>
    </div>

  </body>
</html>
