<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/app.css">
    <title>Deletar Carro</title>
</head>
<body>
    <div class="container">
        <h3 class="cadastro" >Deletar um Carro</h3>
        <form action="../deleta.php" method="post">
            <label>Digite a placa do carro:</label>
            <p><input class="form-control" type="text" name="placa"></p>

            <br> <br>
            <input class="btn btn-primary" type="submit" value="DELETAR">
            <a class="btn btn-primary" href="../index.php">Voltar</a>
        </form>
    </div>
</body>
</html>
